* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 95%;
  margin: auto;
}
header {
  border: 1px solid red;
  /* height: 10rem; */
  background: url(/assets/bg-hero-mobile.svg) #b1e2f8 no-repeat;
}
nav {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin-top: 1rem;
}
nav img {
  width: 4rem;
}

nav button {
  background-color: #feffff;
  border-radius: 18px;
  width: 32%;
  padding: 5px;
  border: white;
  box-shadow: -1px 2px 10px 1px grey;
}

/* End of nav */
/* Hero-section starts here */

.hero-section{
    /* border: 2px solid black; */
    /* margin-top: 80rem; */
    text-align: center;
    /* width: 75%; */
    /* margin: auto; */
    /* padding: 0 2rem 2rem ; */
    /* line-height: 2rem; */
}

.hero-content h2{
    /* text-align: center; */
    width: 75%;
    margin: auto;
    line-height: 2rem;

}

.hero-content p{
    width: 70%;
    margin: auto;
    /* text-align: center; */
    /* border: 1px solid blue; */
    margin-top: 1.5rem;
    line-height: 1.3rem;
}
.hero-content > button{
    /* margin-top: 1rem; */
    margin: 2rem 0 3rem 0;
    height: 2.5rem;
    border-radius: 10rem;
    width: 60%;
    border: none;
    color: #FFFFFF;
    background-color: hsl(322, 100%, 66%);

}

.hero-section img{
    width: 19rem;
    margin-bottom: 3rem;

}